@import "ms-portfolio-carousel";

.sliders-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 350px 0 250px;
  width: 100%;
  height: 600px;
}